{% extends "layout.html" %}

{% block body %}
{% if not questions %}
<p>No questions added yet.</p>
{% else %}
<p>{{ best_team }}</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Category</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}
    <tr>
      <td>{{ question.question }}</td>
      <td>{{ question.answer }}</td>
      <td>{{ question.category }}</td>
      <td>{{ question.quiz_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
{% endif %}
<div>
  Clear whole database (include users, teams and questions):
  <form method="POST" action="{{ url_for('questions_all') }}">
    <input type="submit" value="DESTROY"
      onClick='return confirm("All data except ADMIN account will be deleted. Are you sure?")'>
    (ADMIN account will be unaffected)
  </form>
</div>
</p>
{% endblock %}