{% extends "layout.html" %}

{% block body %}
<table>
  <form method="POST" action="{{ url_for('questions_update', question_id=question.id) }}">
    <tr>
      <td><strong>{{ form.question.label }}</strong></td>
      <td><strong>{{ form.answer.label }}</strong></td>
      <td><strong>{{ form.correct.label }}</strong></td>
    </tr>
    <tr>
      <td>{{ form.question(value=question.question) }}</td>
      <td>{{ form.answer(value=question.answer) }}</td>
      <td style="text-align:center">{{ form.correct(checked=question.answered_correctly) }}</td>
    </tr>
    <tr>
      <td><strong>{{ form.category.label }}</strong></td>
      <td><strong>{{ form.date.label }}</strong></td>
    </tr>
    <tr>
      <td>{{ form.category(value=question.category) }}</td>
      <td>{{ form.date(value=question.quiz_date) }}</td>
    </tr>
</table>
<table>
  <tr>
    <td>
      <input type="submit" value="update" />
    </td>
    </form>
    <td>
      <form method="POST" action="{{ url_for('questions_delete', question_id=question.id) }}">
        <input type="submit" value="delete" onClick='return confirm("Are you sure?")'/>
      </form>
    </td>
  </tr>
</table>
<ul>
  {% for error in form.question.errors %}
  <li>{{ error }}</li>
  {% endfor %}
  {% for error in form.answer.errors %}
  <li>{{ error }}</li>
  {% endfor %}
  {% for error in form.category.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endblock %}