{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <td><strong>Question</strong></td>
      <td><strong>Answer</strong></td>
      <td><strong>Answered correctly</strong></td>
    </tr>
    <tr>
      <form method="POST" action="{{ url_for('questions_update', question_id=question.id) }}">
        <td>
          <input type="text" name="question" value="{{ question.question }}"/>
        </td>
        <td>
          <input type="text" name="answer" value="{{ question.answer }}"/>
        </td>
        <td style="text-align:center">
          <input type="checkbox" name="answeredCorrectly" {{ checked }}/>
        </td>
        <td>
          <input type="submit" value="update"/>
        </td>
      </form>
    </tr>
  </table>
{% endblock %}