{% extends "layout.html" %}

{% block body %}
<p>{{ hardest_category }}</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Category</th>
      <th>Answered correctly</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for question in questions %}
    <tr>
      <td>{{ question.question }}</td>
      <td>{{ question.answer }}</td>
      <td>{{ question.category }}</td>
      <td>{{ question.answered_correctly }}</td>
      <td>{{ question.quiz_date }}</td>
      <td>
        <form method="GET" action="{{ url_for('edit_form', question_id=question.id) }}">
          <input type="submit" value="edit"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock %}