{% extends "layout.html" %}

{% block body %}
<p>Most difficult category: {{ hardest_category }}</p>
  <table>
    <tr>
      <td><strong>Question</strong></td>
      <td><strong>Answer</strong></td>
      <td><strong>Category</strong></td>
      <td><strong>Answered correctly</strong></td>
    </tr>
    {% for question in questions %}
    <tr>
      <td>{{ question.question }}</td>
      <td>{{ question.answer }}</td>
      <td>{{ question.category }}</td>
      <td>{{ question.answered_correctly }}</td>
      <td>
        <form method="GET" action="{{ url_for('edit_form', question_id=question.id) }}">
          <input type="submit" value="edit"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}