{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('questions_create') }}">
  <table>
    <tr>
      <td>
        <strong>Question</strong>
      </td>
      <td>
        <strong>Answer</strong>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" name="question"/>
      </td>
      <td>
        <input type="text" name="answer"/>
      </td>
      <td>
        <input type="checkbox" name="answeredCorrectly">Answered correctly
      </td>        
    </tr>
  </table>
  <input type="submit" value="Add a new question"/>
</form>
{% endblock %}