<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz log</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      Logged in as {{ current_user.username }}. <a href="{{ url_for('auth_logout') }}">Logout</a>
      <br/>
      Team: {{ current_user.team_id }}
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Login</a>
    <a href="{{ url_for('auth_signup') }}">Sign up</a>
    {% endif %}

    <ul>
      <li><a href="{{ url_for('questions_index') }}">List questions</a></li>
      <li><a href="{{ url_for('questions_form') }}">Add a question</a></li>
      <li><a href="{{ url_for('teams_form') }}">Manage teams</a></li>
    </ul>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>

