{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('teams_form') }}">
  <table>
    <tr>
      <td>
        <h4>{{ form.team_name.label }}</h4>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.team_name }}
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" name="btn" value="Add team" />
      </td>
    </tr>
  </table>
</form>
<h4>Your teams:</h4>
<form method="POST" action="{{ url_for('teams_form') }}">
  <table>
    <tr>
      <td>
        {{ form.team_list }}
      </td>
      <td>
        <input type="submit" name="btn" value="Modify team">
</form>
</td>
</tr>
<tr>
</tr>
</table>
{% endblock %}